
a.label:hover,a.label:focus,a.badge:hover,a.badge:focus{color:#ffffff;text-decoration:none;cursor:pointer;}
.badge-success{background-color:#468847;}
.label-important,.badge-important{background-color:#b94a48;}
.label-important[href],.badge-important[href]{background-color:#953b39;}
.label-warning,.badge-warning{background-color:#f89406;}
.label-warning[href],.badge-warning[href]{background-color:#c67605;}
.label-success,.badge-success{background-color:#468847;}
.label-success[href],.badge-success[href]{background-color:#356635;}
.label-info,.badge-info{background-color:#3a87ad;}
.label-info[href],.badge-info[href]{background-color:#2d6987;}
.label-inverse,.badge-inverse{background-color:#333333;}
.label-inverse[href],.badge-inverse[href]{background-color:#1a1a1a;}

.login-page body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.login-page .login-title{
  margin-top:7%;
  margin-bottom:5%;
  color:#FFF;
  font-family:"微软雅黑";
}

.login-page .form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #eee;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.login-page .form-signin .form-signin-heading{
  margin-bottom: 30px;
}
.login-page .form-signin input[type="text"],
.login-page .form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  padding: 7px 9px;
}

.login-page .form-signin .input-group{
  margin-bottom: 15px;
}

.login-page .login-form {
  position: relative;
  padding-top: 60px;
  -moz-transition: all 550ms ease-in-out;
  -o-transition: all 550ms ease-in-out;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}
.login-form .row{
  margin-bottom: 15px;
  -moz-transition: all 550ms ease-in-out;
  -o-transition: all 550ms ease-in-out;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}
.login-form .btn{
  height:45px;
  font-family:"Arial";
  font-size:19px;
  letter-spacing: 10px;
}

.login-page .login-content {
  position: relative;
  width: 33.33%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  -moz-transition: all 550ms ease-in-out;
  -o-transition: all 550ms ease-in-out;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}

/*.login-page .login-form .input-group {
  background: #373e4a;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}*/

input{
  color: #000000;
}
#error-container .login-error{
  color: #FF0000;
  font-size: 20px;
}

.login-page .login-form .input-group .form-control{
  height:45px;
}


.home-page,.TestCaseGrp,.UserManage{
  margin-top:15px;
}
.home-page .nav-tabs{
  margin-top:30px;
  margin-bottom: 15px;
}
.home-page #MainResContainer {
  margin-bottom: 0;
}
.home-page #MainRes .list-group-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-page #MainRes .list-group-item:last-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.home-page #MainResContainer .list-group-item:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.home-page #MainRes .list-group{
  margin-bottom:0;
}
.home-page #Log_ResHandleHistory a{

  #border-bottom: 1px solid #ccc;
  display: block;
  padding: 4px 20px 8px 20px;
}

.home-page .nav-tabs .active{
  font-weight: bold;
}
.home-page .tab-content{
  margin-bottom: 100px;
}

.home-page nav .dropdown-menu{
  min-width: 107px;
}

.home-page .progress{
    margin-top: 10px;
    margin-bottom: 0;
}
.home-page .btn-block{
    margin-top: 10px;
}
.home-page #UploadFile+p {
  margin-top: 10px;
}
.home-page #lte_app > span{
  margin-left: 4px;
  font-size: 15px;
}
.home-page #lte_db>span{
  margin-left: 4px;
  font-size: 16px;
}

.TestCaseGrp .TestCasesPanel{
  margin-top: 8px;
}

.TestCaseGrp .TestCasesPanel .panel-body .center-block{
  width: 78.3%;
}

.TestCaseGrp #TestCaseManageTabHomepage{
   margin-top: 30px;
}

.TestCaseGrp .ui-draggable a span{
  white-space: normal;
}

.TestCaseGrp #content #TestCaseManageContent div{
  margin-top: 10px;
}

.TestCaseGrp .TestCasesPanel .panel-body li{
  list-style-type:none;
}

.TestCaseGrp .TestCasesPanel .panel-body .dropdown-menu{
  left: 77px;
}

.UserManage label.UserVerifyError {
  color: #FF0000;
  font-size: 15px;
}

.UserManage input.UserVerifyError {
  border-color: #c9302c;
}

.UserManage .btn-toolbar{
  margin-top: 30px;
  margin-bottom: 20px;
}
